<section>

<h2>Add a new restaurant</h2>

<form action="/action_page.php">
  <label for="name">Restaurant name:</label><br>
  <input type="text" id="name" name="name"><br><br>
  <label for="link">Image link:</label><br>
  <input type="text" id="link" name="link"><br><br>
  <input type="submit" value="Submit">
</form>

</section>